html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1 {
    font-size: 60px;
    color: green;
}

table {
    border: 1px solid #ccc;
    width: 100%;
}

tr {
    border: 1px solid #ccc;
}

td, th {
    border: 1px solid #ccc;
    align-content: center;
    text-align: center;
    padding: 5px;
}

.td-text-align-right {
    text-align: right;
}

.collapsed {
    border-collapse: collapse;
}

.td-is-ended {
    width: 60px;
}

.td-datetime {
    width: 150px
}